body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: white;
}
.box {
    padding: 25px 20px;
    border-radius: 5px;
    border: 1px solid #2d2d2d;
}
.form h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #2d2d2d;
}
.input {
    padding: 10px 10px;
    width: 240px;
    border: none;
    outline: none;
    background: none;
    border: 1px solid #2e7eff;
    border-radius: 5px;
    margin-bottom: 10px;
    color: #2d2d2d;
    font-weight: bold;
}
.input.last {
    margin-bottom: 25px;
}
.inputbox p {
    margin: 3px 0px 5px 3px;
    font-size: 12px;
    color: #2d2d2d;
}
.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.checkbox {
    display: flex;
    flex-direction: row;
}
.checkbox label {
    margin: 3px 3px 5px 3px;
    font-size: 12px;
    color: #2d2d2d;
}
.inputbox a { /*Forgot password?*/
    font-size: 14px;
    color: #2e7eff;
    display: block; /* or inline-block | needed to move <a> upward*/
    /* transform: translateY(-30px); */
    border: none;
    outline: none;
    background: transparent;
    cursor: pointer;
}
.button-text {
    padding-bottom: 2px;
}
.button {
    display: flex;
    flex-direction: row;
    padding: 10px 10px;
    width: 240px;
    border: none;
    outline: none;
    color: #fff;
    border: none;
    outline: none;
    border-radius: 5px;
    background: #2e7eff;
    cursor: pointer;
    font-size: 16px;
    justify-content: center;
    align-items: center;
}
.form {
    display: flex;
    flex-direction: column; /* Stack child elements vertically */
    align-items: center; /* Center horizontally */
}
.form a { /*Username/Email Sign in/ Sign up*/
    margin: 0px auto;
    margin-top: 20px;
    color: #2e7eff;
    background: transparent;
    cursor: pointer;
    font-size: 14px;
}

/*Rotating loader - Signing up*/
.loader {
    border: 3px solid rgba(0, 0, 0, 0.1);
    border-top: 3px solid white;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    animation: spin 1s linear infinite;
    margin: 0px 5px;
    display: none;
    transform: translateY(10px); /* Move the loader 2 pixels up to fine-tune the position */
    z-index: 1;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


